@media screen and (max-width: 1154px) {
  .service_card {
    min-height: 21em;
  }
}

@media screen and (max-width: 942px) {
  .service_card {
    min-height: 23em;
  }
}

@media screen and (max-width: 918px) {
  .service_card {
    min-height: 25em;
  }
}

@media screen and (max-width: 890px) {
  .main__text {
    text-align: center;
  }

  .btnCadastro {
    margin-bottom: 1em;
  }

  .group-form-image {
    grid-template-columns: 1fr 23em;
  }

  .groupCards_header_service {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1em;
  }

  .service_card {
    min-height: 20em;
    width: 20em;
  }

  .logo {
    display: none;
  }

  .list-menus {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #101728;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  .list-menus li {
    text-align: center;
    width: 100%;
    padding: 1em;
  }

  .list-menus li:hover {
    background-color: #19233c;
  }

  .list-menus li a {
    font-size: 1.3em;
  }

  .group-menu {
    cursor: pointer;
    display: grid;
  }

  .item-menu:hover::before {
    display: none;
  }

  .header {
    align-items: center;
  }

  .title {
    text-align: center;
  }

  .btn {
    margin-left: 0;
  }
}

@media screen and (max-width: 781px) {
  .group-form-image {
    grid-template-columns: 1fr 20em;
  }

  .header__title {
    font-size: 2.8em;
  }

  .main__text {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 682px) {
  .group-form-image {
    grid-template-columns: 1fr 18em;
  }

  .texts-option-login {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .texts-option-login__form {
    align-items: center;
    padding-top: 0;
    width: 100%;
    justify-content: center;
  }

  .option-login {
    min-height: 90%;
  }

  .textOption {
    text-align: center;
  }

  .main__text {
    font-size: 1.2em;
  }

  .texts-option-login__social {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 632px) {
  .group-form-image {
    grid-template-columns: none;
    width: 100%;
    margin: 2em;
  }

  .header__title {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 536px) {
  .header__title {
    font-size: 2.3em;
  }
}

@media screen and (max-width: 506px) {
  .container {
    grid-template-rows: 2fr 8fr 1fr;
  }

  .header__title {
    font-size: 2em;
    padding: 0.5em 1em;
  }
}

@media screen and (max-width: 420px) {
  .group-form-image {
    width: 100%;
    margin: 1em;
    grid-template-columns: none;
  }

  .title-form {
    font-size: 1.45em;
  }

  .subtitle-form {
    font-size: 0.85em;
  }

  .group-inputs-form-cadastro :nth-child(4) {
    font-size: 0.85em;
    height: 3em;
  }

  .text-form {
    font-size: 0.7em;
  }

  .group-form-image__form img {
    width: 15em;
  }

  .service_card {
    min-height: auto;
    width: 85%;
    margin: auto;
  }
  .header {
    padding: 0 1em;
  }

  .title {
    font-size: 2em;
  }

  .title-card {
    font-size: 1.3em;
    width: 12em;
  }

  .text-card {
    font-size: 0.9em;
  }

  .container {
    grid-template-rows: 2fr 8fr 1fr;
    padding: 1em;
  }
}

@media screen and (max-width: 418px) {
  .header__title {
    font-size: 1.7em;
  }

  .main__text {
    font-size: 1.05em;
  }
}

@media screen and (max-width: 362px) {
  .form {
    padding: 0 2em 3em 2em;
  }

  .group-form-image {
    grid-template-columns: 18em;
  }

  .subtitle-form {
    font-size: 0.8em;
  }

  .labels {
    font-size: 0.75em;
  }

  .title-form {
    font-size: 1.2em;
  }

  .group-form-image__form img {
    width: 14em;
  }

  .email-input-login {
    width: 100%;
  }

  .service_card {
    min-height: auto;
    width: 95%;
    margin: auto;
  }

  .title {
    font-size: 1.9em;
  }

  .header__title {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 324px) {
  .header__title {
    font-size: 1.3em;
  }

  .main__text {
    font-size: 1em;
  }
}
