@media screen and (max-width: 1154px) {
  .service_card {
    min-height: 21em;
  }
}

@media screen and (max-width: 942px) {
  .service_card {
    min-height: 23em;
  }
}

@media screen and (max-width: 918px) {
  .service_card {
    min-height: 25em;
  }
}

@media screen and (max-width: 890px) {

  .main__text {
    text-align: center;
  }

  .header {
    padding: 0;
  }

  .groupCards_header_service {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1em;
  }

  .service_card {
    min-height: 20em;
    width: 20em;
  }

  .logo {
    display: none;
  }

  .list-menus {
    display: none;
  }

  .group-menu {
    display: grid;
  }

  .header {
    align-items: center;
    padding-bottom: 1em;
  }

  .title {
    text-align: center;
  }

  .btn {
    margin-left: 0;
  }
}

@media screen and (max-width: 781px) {
  .header__title {
    font-size: 2.8em;
  }

  .main__text {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 682px) {

  .main__text {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 632px) {
  .header__title {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 536px) {
  .header__title {
    font-size: 2.3em;
  }
}

@media screen and (max-width: 506px) {
  .container {
    grid-template-rows: 2fr 8fr 1fr;
  }

  .header__title {
    font-size: 2em;
    padding: .5em 1em;
}
}

@media screen and (max-width: 420px) {
  .service_card {
    min-height: auto;
    width: 85%;
    margin: auto;
  }
  .header {
    padding: 0 1em;
  }

  .title {
    font-size: 2em;
  }

  .title-card {
    font-size: 1.3em;
    width: 12em;
  }

  .text-card {
    font-size: 0.9em;
  }

  .container {
    grid-template-rows: 2fr 8fr 1fr;
    padding: 1em;
}
}

@media screen and (max-width: 418px) {
  .header__title {
    font-size: 1.7em;
  }

  .main__text {
    font-size: 1.05em;
}
}

@media screen and (max-width: 362px) {
  .service_card {
    min-height: auto;
    width: 95%;
    margin: auto;
  }

  .title {
    font-size: 1.9em;
  }

  .header__title {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 324px) {
  .header__title {
    font-size: 1.3em;
  }

  .main__text {
    font-size: 1em;
}
}
