@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-primary: #101728;
  --cor-clara-gradient: #1695fe;
  --cor-escura-gradient: #2734c8;

  --width-global: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* OPTION */

.close-login {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  padding: 15px;
  font-size: 2em;
  color: var(--color-primary);
  margin-right: 6px;
}

@keyframes corGroupOption {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #1017288a;
  }
}

@keyframes subirOption {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.group-option-login {
  animation: corGroupOption 0.8s ease 0s 1 normal forwards;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  display: none;
  align-items: flex-end;
  z-index: 1;
}

.option-login {
  animation: subirOption 0.8s ease 0s 1 normal forwards;
  background-color: white;
  width: 100%;
  height: 67%;
  border-radius: 40px 40px 0 0;
  padding: 3em;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 12fr 1fr;
}

.texts-option-login {
  display: flex;
  justify-content: space-between;
}

.texts-option-login__form {
  width: 30em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 2em;
}

.group-input-btn {
  display: flex;
  height: 3em;
}

.textOption {
  font-size: 1.15em;
  color: var(--color-primary);
}

.email-input-login {
  width: 17em;
  padding: 1.3em;
  border-radius: 50px 0 0 50px;
  border-left: 1px solid #101728;
  border-top: 1px solid #101728;
  border-bottom: 1px solid #101728;
  border-right: none;
}

.email-input-login::placeholder {
  color: var(--color-primary);
  font-size: 1.2em;
}

.email-input-login:focus {
  outline: none;
}

.button-enviar {
  background-color: white;
  border-radius: 0 50px 50px 0;
  border-right: 1px solid #101728;
  border-top: 1px solid #101728;
  border-bottom: 1px solid #101728;
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
}

.button-enviar img {
  width: 40px;
}

.rodape-option-login {
  border-top: 1px solid #101728;
  padding-top: 0.6em;
  display: flex;
  justify-content: space-between;
}

.odape-option-login__text {
  color: var(--color-primary);
  font-size: 1.1em;
}

.texts-option-login__social__title {
  color: var(--color-primary);
}

.texts-option-login__social {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 12%;
}

.texts-option-login__social ul li {
  list-style-type: none;
  color: #101728;
  font-size: 1.15em;
  text-transform: uppercase;
}

.rodape-option-login__text {
  color: var(--color-primary);
}

/* Menu */

.group-menu {
  width: 2.5em;
  height: 1.5em;
  display: none;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 6px;
  z-index: 1;
}

.linha {
  background-color: white;
  border-radius: 10px;
}

.btn {
  padding: 0.65em 2em;
  background-color: white;
  text-decoration: none;
  color: black;
  border-radius: 60px;
  margin-left: 2em;
  transition: all 0.5s ease;
}

strong {
  font-weight: 600;
}

.btn:hover {
  transform: scale(110%);
  box-shadow: 0px 0px 10px rgb(94, 108, 122);
}

.logo {
  width: 13.3em;
}

/* Navegação */

.groupNav {
  width: 100%;
}

.nav {
  display: flex;
  max-width: var(--width-global);
  justify-content: space-between;
  margin: auto;
  align-items: center;
  padding: 1em;
}

.list-menus {
  display: flex;
  list-style-type: none;
  gap: 3.5rem;
}

.item-menu {
  position: relative;
  text-decoration: none;
  color: white;
  transition: all 0.5s ease;
  padding-bottom: 3px;
}

.item-menu::before {
  content: "";
  position: absolute;
  width: 0;
  transition: width 1s ease;
}

.item-menu:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: 0;
  border-radius: 5px;
}

/* Header */

.groupHeader {
  min-height: 100vh;
  background-color: var(--color-primary);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  max-width: var(--width-global);
  margin: auto;
  align-items: start;
  gap: 1em;
  padding: 0 3em;
}

.title {
  font-size: 2.365em;
  margin-bottom: 8px;
}

.groupCards_header_service {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1em;
}

.service_card {
  background-image: linear-gradient(
    to left,
    var(--cor-clara-gradient),
    var(--cor-escura-gradient)
  );
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 11px;
  min-height: 19em;
  overflow: hidden;
}

.num {
  padding: 0.2em 1em;
  background-color: white;
  border-radius: 25px;
  color: black;
  width: 5em;
  text-align: center;
}

.group-texts-card {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  height: 15em;
}

.title-card {
  font-size: 1.5em;
  width: 12em;
}

.text-card {
  font-size: 0.93em;
}

/* ESTILOS QUEM SOMOS / SOBRE NÓS / SUPORTE */

.container {
  min-height: 100vh;
  background-color: var(--color-primary);
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 6fr 1fr;
  padding: 2em;
}

.header {
  display: flex;
}

.header__title {
  font-size: 3em;
  background-image: linear-gradient(
    to left,
    var(--cor-clara-gradient),
    var(--cor-escura-gradient)
  );
  padding: 0 1.5em;
  border-radius: 30px;
  text-align: center;
}

.main {
  max-width: var(--width-global);
  margin: auto;
  padding-bottom: 2em;
}

.main__text {
  font-size: 1.3em;
  text-align: justify;
  font-weight: 200;
  max-width: 38em;
  margin: auto;
  line-height: 1.6em;
}

.footer {
  display: flex;
  align-items: center;
  border-top: 2px solid white;
}

/* CADASTRO */


.form {
  padding: 0 3em 4.5em 3em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.container-cadastro {
  min-height: 100vh;
  background-color: #0e1422;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.group-form-image__form img {
  padding: 1em;
  padding-bottom: 1.5em;
  width: 17em;
}

.group-form-image {
  display: grid;
  grid-template-columns: 23em 31em;
  grid-template-rows: 1fr;
  background-color: var(--color-primary);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(1, 0, 16, 0.462);
}

.group-inputs-form-cadastro {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.group-form-image__image {
  background-image: url("../image/imagem.png");
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  border-end-end-radius: 10px;
  border-top-right-radius: 10px;
}

.group-password-inputs {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.group-inputs-form-cadastro :nth-child(4) {
  background-image: linear-gradient(
    to left,
    var(--cor-clara-gradient),
    var(--cor-escura-gradient)
  );
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 0.98em;
  width: 100%;
  cursor: pointer;
}

.group-password-inputs :nth-child(1) {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.group-password-inputs :nth-child(2) {
  background-color: var(--color-primary);
  color: white;
  width: 3em;
  border-radius: 0 5px 5px 0;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-left: none;
  cursor: pointer;
}

.group-password-inputs :nth-child(2) i {
  border: none;
  font-size: 1.5em;
}

.group-inputs-form-cadastro input {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.6em;
  width: 100%;
  position: relative;
  z-index: 1;
  color: white;
  outline: none;
  font-weight: 300;
}

.group-input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.labels {
  color: white;
  position: absolute;
  left: 10px;
  padding: 0 6px;
  font-size: 0.8em;
  background-color: var(--color-primary);
  transition: transform 1s ease;
  z-index: 0;
  /* cursor: text; */
}

/* .group-inputs-form-cadastro input:focus + label {
  animation: labelInput .3s ease-in-out 0s 1 normal forwards;
} */

@keyframes labelInput {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.group-titles-form-cadastro {
  display: flex;
  flex-direction: column;
}

.title-form {
  font-size: 1.55em;
}

.text-form {
  font-size: 0.8em;
}

.text-form,
.text-form a {
  text-align: center;
  color: white;
}

.subtitle-form {
  font-size: 0.95em;
  font-weight: 300;
}


/* LOGIN */

.group-input-1 {
  display: none;
}